<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Tests">
    <test name="Create flow">
        <classes>
            <class name="pojoTest.pojoCreateSpace"/>
            <class name="pojoTest.pojoCreateBoard"/>
            <class name="pojoTest.pojoCreateColumn"/>
        </classes>
    </test>
</suite>