<suite name="API Tests">

    <test name="Create flow">

        <groups>
            <run>
                <include name="space"/>
                <include name="board"/>
                <include name="column"/>
            </run>
        </groups>

        <classes>
            <class name="pojoTest.pojoCreateSpace"/>
            <class name="pojoTest.pojoCreateBoard"/>
            <class name="pojoTest.pojoCreateColumn"/>
        </classes>

    </test>

</suite>